extends layout.pug

block content
    h1 Maru Schedule
    p.admin
        a.button(href="/schdule/login") Admin
    table
        thead
            tr
                th Time
                th Sunday
                th Monday
                th Tuesday
                th Wednesday
                th Thursday
                th Friday
                th Saturday
        tbody
            tr
                td Time
                td Server
                td Server
                td Server
                td Server
                td Server
                td Server
            tr
                td Time
                td Server
                td Server
                td Server
                td Server
                td Server
                td Server
            tr
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            tr
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            tr
                td Time
                td Server
                td Server
                td Server
                td Server
                td Server
                td Server
            tr
                td Time
                td Server
                td Server
                td Server
                td Server
                td Server
                td Server