extends layout.pug

block content
    .password-container
        h1 Schedule Access
        form.admin-passowrd(action="/schedules/admin", method="post")
            input(name="admin", type="password", id="admin", placeholder="Enter Admin Password")
            input(type="submit", value="Submit", id="submit-admin")
            a(class="cancel-button" href="/schedules") Cancel