extends layout.pug

block content
    h1 Edit Schedule
        a.button.cancel-button(href="/" style={'background-color': '#e4757a'}) Exit
    table
        thead
            tr
                th &emsp;&emsp;&emsp;
                th Sunday
                th Monday
                th Tuesday
                th Wednesday
                th Thursday
                th Friday
                th Saturday
        tbody
            tr
                td 11:10 am
                td 
                td Howard
                td Howard
                td Ushma
                td Ushma
                td Ushma
                td Steve
            tr
                td 12:00 am
                td 
                td Young
                td Young
                td Dianna
                td Dianna
                td Howard
                td Young
            tr
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
            tr
                td &emsp;L&emsp;
                td &emsp;U&emsp;
                td &emsp;N&emsp;
                td &emsp;C&emsp;
                td &emsp;H&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
            tr
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
            tr
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;B&emsp;
                td &emsp;R&emsp;
                td &emsp;E&emsp;
                td &emsp;A&emsp;
                td &emsp;K&emsp;
            tr
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
                td &emsp;&emsp;&emsp;
            tr
                td 4:40 pm
                td Ushma
                td Howard
                td Howard
                td Ushma
                td Ushma
                td Ushma
                td Steve
            tr
                td 5:00 pm
                td Young
                td Young
                td Young
                td Dianna
                td Dianna
                td Steve
                td Young
            tr
                td 5:15 pm
                td Dianna
                td 
                td 
                td 
                td Young
                td Howard
                td Dianna
            tr
                td 5:30 pm
                td Howard
                td 
                td 
                td 
                td 
                td Young
                td Howard

    h3 Add Server
    form.add-server(action="/schedules/new", method="post")
        input(name="name", type="text", id="name", placeholder="Server Name")
        input(type="submit", value="Submit", id="submit-admin")

    ul(style={'padding':'0px'})
        strong Servers Name
        each server in servers
            if server.name !== 'admin'
                li.server #{server.name}
                    form(action="/schedules/" + server.id + "/delete", method="post")
                        input(type="submit" value="Delete")