body {
    font: 0.8em "Garamond", serif;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100vw;
}

/* Index setting */

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
}

.title {
    margin-bottom: 20px;
}

.notification {
    margin: 5px 0;
    align-self: flex-end;
    animation: blink 2.5s linear infinite;
    color: #e4757a;
    font-size: 1em;
}
/* 
.admin {
    align-self: flex-end;
} */


/* Button, Input Style */

a.button, a.cancel-button, input[type=submit] {
    color: white;
    background: #019875;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 0.7em;
    padding: 5px 5px 3px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 10px;
}

a {
    color: #019875;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s;
}

a.button-admin, a.cancel-button {
    position: absolute;
    margin-bottom: 20px;
    right: 5px;
    top: 5px;
}

a.cancel-button {
    background: #e4757a;
    padding: 8px 5px 5px;
}

a.button:hover, input[type=submit]:hover {
    background-color: #01b189;
}

input[type=submit] {
    border-style: solid;
    border: none;
    padding: 8px 5px 5px;
}

/* a:hover {
    color: black;
} */


/* Table Style */

th {
    border-bottom: 2px solid #D8B493;
    text-align: center;
    padding: 10px 15px;
    /* padding: 10px 0; */
}

td {
    padding: 5px 0;
}

.lunch > td {
    padding: 0;
}

tr:nth-child(2n):not(:nth-child(4)):not(:nth-child(6)) {
    background: #E7E7E7;
}


/* Password Pug Style */

.password-container {
    margin: 15%;
}

.admin-passowrd {
    padding: 10px;
}


/* Update Pug Style */

li {
    list-style: none;
    margin: 20px;
}

.add-server {
    margin-bottom: 20px;
}

.server-list {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.server {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d6d6d6;
    padding: 10px 15px;
    transition: .2s;
}

.server:hover {
    color: white;
    background: #01b189;
}

.delete {
    background: #ee3322!important;
}


@media (min-width: 765px) {
    .container {
        font-size: 18px;
    }
    a.button {
        padding: 10px 14px 12px;
    }
    
    tr {
        min-height: 50px;
    }
}


/* Animation Style */

@keyframes blink {
    25% {
        opacity: .5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: .5;
    }
}